/* ---- Header ---- */
header strong {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: .5rem 0;
}

/* ---- Jumbotron Area ---- */
main .jumbotron {
  background-color: #fff;
  margin-bottom: 0;
}

/* ---- Main Content ---- */
.container h2 {
  margin-bottom: 1.5rem
}

/* ---- Cards ---- */
#closed-card-container .completedTask.btn-done {
  display: none;
}
.alert {
    margin-left: 1rem;
}

/* ---- Footer ---- */
footer.text-muted {
  padding-top: 1rem;
}
